<div class="creator" ng-controller='GypsyController'>
  <form name='tweetForm' ng-submit="getTweets()">
    <input name='handle' type="text"
      ng-model="handle.name"
      placeholder="Enter twitter handle!" 
      />

    <button type="submit" value="Gypsy" >
      Send twit handle
    </button>

  </form>


    <div class="profile"
    ng-repeat="attr in profile">

        <div class="attribute1"> 
         {{attr.id}}
         <span>{{attr.value}}</span>
         </div>

    </div>
    
</div>